.add-service form{
    display: flex;
    flex-direction: column;
       justify-content: center;
    align-items: center;
}
.add-service form input,textarea{
    width: 40%;
    border: 2px solid rgb(11, 224, 224);
    border-radius: 20px;
    margin: 10px;
}
